<div style="text-aligin; center;">
    <h1>Announce Member Timeoff from <%= @timeoff.sender.company.name.upcase %></h1>
    <p>You got this mail because have a member in your company want to off</p>
    <h2>Member Off's Information</h2>
    <div style="text-aligin: left;">
        <p>Name:        <%= @timeoff.sender.user.first_name + ' ' +  @timeoff.sender.user.last_name%></p>
        <p>Email:       <%= @timeoff.sender.user.email %></p>
        <p>From:        <% if @timeoff.is_start_half_day %> Half day of  <%else%> All day <% end %> <%= @timeoff.start_date %></p>
        <p>Until:       <% if @timeoff.is_end_half_day %> Half day of  <%else%> All day <% end %> <%= @timeoff.start_date %></p>
        <p>Description: <%= @timeoff.description %></p>
    </div>
    <% if @timeoff.destroyed? %>
        <strong>
            <i> This requet was destroyed by  <%= @current_member.user.first_name %> </i><br>
        </strong>
    <% else @timeoff.pending?%>
        <p>
            <strong>
                <i> This requet was <%= @timeoff.status %> by  <%= @timeoff.approver.user.first_name %> </i><br>
                <i> Messages: <%= @timeoff.approver_messages %> </i>
            </strong>
        </p>
    <% end %>
    Click <a href="<%= "#{Settings.host}//#/timeoffs" %>">here</a> to see more timeoff request.
</div>
