<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Report Mailer Preview</title>
      <style>
        body {
          color: #17202A;
          font-family: "arial", Gadget, sans-serif;
          font-size: 13px;
        }

        span {
          float: right;
        }

        ul {
          list-style-type: none;
          padding-left: 5px;
        }

        h3 {
          margin-bottom: 0;
          font-size: 15px;
          font-weight: bold;
        }

        .project {
          font-size: 14px;
          font-weight: bold;
        }
        .category {
          font-size: 13px;
          font-weight: bold;
        }
      </style>
   </head>
   <body>
      <h3 style="color: green; font-weigh: bold;">Hi <%= @user.first_name %>,</h3>
      <h3>Tasks tracked last week (<%= @start_date %> - <%= @end_date %>)</h3>
      <div>
        <% @data.each do |item| %>
          <h3><%= item[:company][:name] %><span><%= Time.at(item[:tracked_time_total]).utc.strftime("%H:%M:%S")%></span></h3>
          <ul class="rounded-list">
          <% item[:projects].each do |project| %>
          <li>
             <a href="" class="project">
             <%= project[:name] %><span><%= Time.at(project[:tracked_time]).utc.strftime("%H:%M:%S") %></span>
             </a>
             <ul>
                <% project[:categories].each do |category| %>
                <li>
                   <a href="" class="category">
                   <%=category[:category_name] %><span><%= Time.at(category[:tracked_time]).utc.strftime("%H:%M:%S") %></span>
                   </a>
                   <ul>
                      <% category[:tasks].each do |task| %>
                      <li>
                         <a href="">
                         <%=task[:name] %><span><%= Time.at(task[:tracked_time]).utc.strftime("%H:%M:%S") %></span>
                         </a>
                      </li>
                      <% end %>
                   </ul>
                </li>
                <% end %>
             </ul>
          </li>
          <% end %>
          <ul>
        <% end %>
      </div>
   </body>
</html>
